/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 */

.searchBar {
  /* margin-left: relative;
  margin-right: auto; */
  padding: 10px;
  display: inline-block;
  width: 50%;
  border-radius: 30px;

} 

.search-submit{
  margin-left: 400px;
  /* margin-right: auto; */
display: inline-block;
}

.searchBar2 {
  /* margin-left: relative;
  margin-right: auto; */
  padding: 10px;
  display: inline-block;
  width: 50%;
  border-radius: 30px;

} 

h3{
  color: white;
  cursor: pointer;

}

body{
  /* position: absolute; */
/* background-image: url(https://dtkp6g0samjql.cloudfront.net/uploads/photo/file/7834336/il_fullxfull.252642439.jpg); */
background-image: url(http://www.desktopwallpaperhd.net/wallpapers/5/e/skyline-desktop-wallpaper-night-photo-chicago-59774.jpg);
background-repeat: no-repeat;
background-size: cover;
/* padding-top: 400px; */
/* background-position: auto; */
}

.search-submit {
  margin-left: 3%;
}

.pointer {
  cursor: pointer;
}

.not-allowed-cursor {
  cursor: not-allowed;
}

